/* BASE */

/* @import url(http://weloveiconfonts.com/api/?family=fontawesome); */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700'); */

/* VARIABLES */
:root {
    --myred: #ec5c57;
    --mydarkgray: #2c2c2c;
    --mylightfont: #b9b9b9;
    --mydarkgreyfont: #222222;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-weight: 400; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* MEDIA CATCH ALL */
img, embed, object, video {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 1rem;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

body {
    margin: 0;
    color: var(--mylightfont);
    background-color: var(--mydarkgray);
}

header {
    height: 100vh;
}

footer {
    color: var(--mylightfont);
}


/* TEXT BASE */
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

/* TITLE */

.head-title {
  font-size: 1.8rem;
}

.head-name {
  font-size: 3.2rem;
}

.sub-title {
  font-size: 2rem;
}

.down-btn {
    transition: border 0.5s ease;
    border: 0.2rem solid #d8d8d8d0;
    padding: 1rem;
    color: var(--mylightfont);
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
}

.down-btn:hover {
    border: 0.2rem solid var(--myred);
}

.about-me {
    height: 100vh;
    background-color: snow;
    color: var(--mydarkgreyfont);
}

.prof-picture {
    float: left;
    width: 40vw;
    margin-right: 1rem;
    clip-path: circle(40.0% at 50% 50%);
    shape-outside: circle();
}

.about-text {
    word-wrap: break-word;
}

.base-info {
    clear: both;
}