<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="styles/main.css" rel="stylesheet" type="text/css">
  <title>Middle End Test No A2 | Roberto Costa</title>
</head>
<body>
  <main>
    <section id="sideMenu">
      <div id="option">
        <p><%= opt %></p>
      </div>
      <div class="qty">
        <p><%= qtd %></p>
        <input type="text" placeholder="type here">
        <!-- <input type="number" name="qtd" id="qtd"> -->
      </div>
    </section>
    <section id="submenu" data-slide="off">
      <select class="select-items">
        <% for(let item of items) { %>
        <option value="item"><%=item.value%></option>
        <% } %>
      </select>
    </section>
    <section id="items">
      <div class="item-display">
        <p class="first-par">1</p>
        <p class="second-par">Item A1</p>
      </div>
      <div class="item-display">
        <p class="first-par">2</p>
        <p class="second-par">Item A2</p>
      </div>
      <div class="item-display">
        <p class="first-par">3</p>
        <p class="second-par">Item A3</p>
      </div>
    </section>
  </main>
  <script src="scripts/main.js"></script>
</body>
</html>