/* BASE */

/* VARIABLES */
:root {
    --fontPurple: #5a05a1;
    --mydarkgray: #333;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* MEDIA CATCH ALL */
img, embed, object, video {
    max-width: 100%;
}

p   {
    margin: 0.5rem;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(150.6deg, #76ce94 0%, #b979eb 100%);
}

#headingOne {
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 1rem;
  text-align: center;
  color: var(--fontPurple);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.2em;
}

#headingTwo {
  font-size: 1.25rem;
  margin: 1.4rem 0.6rem 1rem 0.6rem;
  text-align: center;
  color: var(--fontPurple);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

#headingTwo a {
  color: #E9FFFB;
  text-decoration: none;
}

#headingTwo a:hover {
  text-decoration: underline;
}

/* Start Menu */
#navigation {
  min-height: 20vh;
  max-width: 76%;
  margin: 3.5rem auto;
  display: flex;
  flex-direction: column;
  background: #353535;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
}

#navigation button {
  flex: 1;
  margin: 0.8rem 1.5rem;
  background: #65ff96;
  border: 1px outset #65ff96;
  border-radius: 16px;
  color: #630e72;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 4px 6px 2px 6px;
  text-align: center;
}

#navigation a {
  flex: 1;
  margin: 0.8rem 1.5rem;
  background: #65ff96;
  border: 1px outset #65ff96;
  border-radius: 16px;
  color: #630e72;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 5px 6px 4px 6px;
  text-align: center;
  text-decoration: none;
}

#navigation button:hover {
  cursor: pointer;
  color: #62f3ab;
  background: #71348d;
  border: 1px outset rgba(154, 42, 206, 0.32);
}

#navigation a:hover {
  cursor: pointer;
  color: #62f3ab;
  background: #71348d;
  border: 1px outset rgba(154, 42, 206, 0.32);
}

/* Modals */
#modal-about, #modal-winner, #modal-loser {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(96, 62, 124, 0.65);
}

.modal {
  display: flex;
  background: #FFFFFF;
  border-radius: 25px;
  flex-direction: column;
  margin: 3.5rem 2rem;
  padding: 1rem;
  min-height: 70vh;
}

.modal h2 {
  margin: 0.5rem 0.8rem;
  text-align: center;
}

.modal i {
  text-align: right;
  font-size: 36px;
  color: var(--fontPurple);
}

.modal i:hover {
  color: #000;
  cursor: pointer;
}

.modal p {
  font-size: 1.125rem;
  margin: 0.65rem;
}

.modal a {
  color: var(--fontPurple);
  text-decoration: none;
}

.modal a:hover {
  text-decoration: underline;
}

#modal-winner, #modal-loser {
  min-width: 100vw;
}

#modal-winner .modal, #modal-loser .modal {
  min-height: 95vw;
}

#modal-winner i, #modal-loser i {
  display: block;
  margin: 0.25rem;
  font-size: 36px;
  text-align: center;
}

#modal-winner h2, #modal-loser h2{
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem;
}

#modal-winner p, #modal-loser p {
  font-size: 1.2rem;
  text-align: center;
}

#modal-winner a, #modal-loser a {
  display: block;
  font-size: 1.2rem;
  margin: 1.2rem auto;
  background: #65ff96;
  color: #000;
  border-radius: 20px;
  padding: 1rem;
}

.good {
  color: #1ca674;
}

.danger {
  color: #a61c1c;;
}

/* Hide modal at start */
.modal-display {
  display: none;
}

/* Display / Hide - Modal animation */
.displayAnim {
  animation: show 0.6s ease;
}

.hideAnim {
  animation: hide 0.6s ease;
}

.modal-body-display {
  animation: modalBodyDisplay 0.6s ease-in;
}

.modal-body-hide {
  animation: modalBodyHide 0.6s ease-in;
}

@keyframes show {
  0% {
    background: rgba(96, 62, 124, 0.05);
  }
  100% {
    background: rgba(96, 62, 124, 0.65);
  }
}
@keyframes hide {
  0% {
    background: rgba(96, 62, 124, 0.65);
  }
  100% {
    background: rgba(96, 62, 124, 0.05);
  }
}

@keyframes modalBodyDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalBodyHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hide {
  display: none;
}

/* GAME SCREEN */
.bodyChange {
  min-height: 100vh;
  background: #fff;
}

/* Countdown timer */
#doom p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.8rem 1rem 1rem 1rem;
  color: var(--fontPurple);
  font-weight: 700;
}

/* Game heading */
.status {
  display: flex;
  margin: 0.5rem;
  justify-content: space-between;
  font-size: 1rem;
  color: var(--fontPurple);
  font-weight: 700;
}

#status a {
  text-decoration: none;
}

#status p {
  padding: 0.2rem;
  margin: 0.3rem 0.25rem 0.2rem 1rem;
}

#restart {
  cursor: pointer;
  align-self: center;
  padding: 0.3rem 0.2rem 0.1rem 0.2rem;
  margin: 0.2rem 1rem 0.2em 0.25rem;
}

#restart a {
  vertical-align: super;
}

#memHeading {
  color: var(--fontPurple);
  font-size: 1.25rem;
  margin: 0.2rem 1rem 0.5rem 1rem;
  font-weight: 700;
  text-align: center;
}

#startCounter {
  color: #cc1212;
  font-size: 1.6rem;
}

/* Game container */
#game {
  min-height: 75vh;
}

#game-grid {
  min-height: 70vh;
  width: 92%;
  margin: 0 auto;
  padding: 7px;
  background: linear-gradient(152.88deg, #94ffd2 0%, #71348d 100%);
  box-shadow: 3px 3px 4px 2px rgba(18, 4, 17, 0.3);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.card {
  cursor: pointer;
  justify-self: center;
  align-self: center;
  padding: 8px;
  background: #CBF6F1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.card img {
  min-width: 14.5vw;
}

.correct {
  background: #1ca674;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

/* Game - Card animations */
.card-hide {
  animation: hideCardAnim 0.4s 1 ease-in-out;
}

.img-hide {
  animation: hideCardImg 0.4s 1 ease-out;
  opacity: 0;
}

.hidden-card {
  background: #cbf6f1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.card-show {
  animation: cardShow 0.4s 1 ease-in-out;
  background: #16738f;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.img-show {
  animation: showCardImg 0.4s 1 ease-in-out;
}

.card-correct {
  animation: cardCorrect 0.6s 1 ease-in-out;
}

.card-incorrect {
  animation: cardIncorrect 0.6s 1 ease-in-out;
}

@keyframes hideCardAnim {
  0% {
    transform: rotateY(20deg) scale(1);
    background: #cbf6f1;
  }
  50% {
    transform: rotateY(90deg) scale(1.05);
  }
  100% {
    transform: rotateY(180deg) scale(1);
    background: #cbf6f1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
}

@keyframes hideCardImg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cardShow {
  0% {
    transform: rotateY(180deg) scale(1);
    background: #CBF6F1;
  }
  50% {
    transform: rotateY(90deg) scale(1.05);
  }
  100% {
    transform: rotateY(20deg) scale(1);
    background: #16738f;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
}

@keyframes showCardImg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardCorrect {
  0% {
    transform: rotateX(0deg) scale(1);
  }
  15% {
    transform: rotateX(30deg) scale(1.1);
  }
  30% {
    transform: rotateX(0deg) scale(1.1);
  }
  45% {
    transform: rotateX(-30deg) scale(1.1);
  }
  60% {
    transform: rotateX(0deg) scale(1.1);
  }
  75% {
    transform: rotateX(30deg) scale(1.1);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: scale(1);
    background: #1CA674;
  }
}

@keyframes cardIncorrect {
  0% {
    transform: rotateY(0deg) scale(1);
    background: #16738f;
  }
  15% {
    transform: rotateY(30deg) scale(1.1);
    background: #a61c1c;
  }
  30% {
    transform: rotateY(0deg) scale(1.1);
  }
  45% {
    transform: rotateY(-30deg) scale(1.1);
  }
  60% {
    transform: rotateY(0deg) scale(1.1);
  }
  75% {
    transform: rotateY(30deg) scale(1.1);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: scale(1);
    background: #a61c1c;
  }
}

/* MEDIA QUERIES */
@media only screen and (min-width: 370px) {
  .status {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 600px) {
  #headingOne {
    font-size: 2rem;
    margin: 1.3rem;
  }
  #headingTwo {
    font-size: 1.8rem;
    margin: 1.3rem;
  }
  #navigation {
    max-width: 45%;
    margin: 4rem auto;
  }
  #memHeading {
    font-size: 1.6rem;
    margin: 0.65rem;
  }
  #game {
    min-height: 55vh;
  }
  #game-grid {
    min-height: 45vh;
    width: 85%;
  }
  .status {
    margin: 0.65rem;
    font-size: 1.25rem;
  }
  #doom p {
    font-size: 1.25rem;
    margin: 0.8rem;
  }
  .modal {
    margin: 5% 20%;
    min-height: 40vh;
  }
  .modal p {
    font-size: 1.25rem;
    margin: 0.65rem;
  }
  .modal h2 {
    margin: 1rem 0.8rem;
    text-align: center;
  }
  #modal-winner .modal, #modal-loser .modal {
    margin: 5% 20%;
    min-height: 40vh;
  }
}

@media only screen and (min-width: 760px) {
  #headingOne, #headingTwo {
    margin: 1.5rem;
  }
  #navigation {
    max-width: 35%;
  }
  #game-grid {
    min-height: 40vh;
    width: 80%;
  }
  .card img {
    min-width: 12.5vw;
  }
  .status {
    justify-content: space-around;
    margin: 0.7rem 2rem 0.7rem 2rem;
    font-size: 1.4rem;
  }
  #doom p {
    font-size: 1.4rem;
  }
  .modal {
    margin: 8% 25%;
  }
  .modal p {
    font-size: 1.4rem;
    margin: 1rem;
  }
  .modal h2 {
    font-size: 2.1rem;
    margin: 1rem 0.8rem;
    text-align: center;
  }
  #modal-winner .modal, #modal-loser .modal {
    margin: 5% 36%;
  }
}

@media only screen and (min-width: 900px) {
  body {
    margin: 0.25% 10%;;
  }
  .status {
    justify-content: space-around;
    margin: 0.25rem 2rem;
    font-size: 1.45rem;
  }
  #doom p {
    font-size: 1.5rem;
  }
  .card img {
    min-width: 8vw;
  }
  #game-grid {
    grid-gap: 12px;
    min-height: 38vh;
    width: 74%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    margin: 0.5% 16%;
  }
  #headingOne {
    font-size: 2.5rem;
  }
  #headingTwo {
  font-size: 2.2rem;
  }
  #navigation button, #navigation a {
    font-size: 1.5rem;
  }
  .modal {
    margin: 8% 30%;
    min-height: 45vh;
  }
  .modal p {
    margin: 1.2rem;
  }
  #modal-winner h2, #modal-loser h2 {
    margin: 12% 30%;
    font-size: 2rem;
    margin: 1.2rem;
  }
  #modal-winner i, #modal-loser i {
    font-size: 40px;
  }
  #modal-winner p, #modal-loser p {
    font-size: 1.5rem;
  }
  #modal-winner a, #modal-loser a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 2000px) {
  body {
    margin: 1% 25%;
  }
  .modal {
    margin: 6% 40%;
    min-height: 40vh;
  }
  .card img {
    min-width: 5.5vw;
  }
  #memHeading {
    font-size: 2rem;
    margin: 0.8rem;
  }
  #startCounter {
    font-size: 2.2rem;
  }
  .status {
    font-size: 2rem;
  }
  #game-grid {
    grid-gap: 22px;
    padding: 1.2%;
  }
  #doom p {
    font-size: 1.85rem;
    margin: 1rem;
  }
  #modal-winner .modal, #modal-loser .modal {
    margin: 5.5% 42%;
  }
}