// Colors
$clr-orangePrimary: #ebb834;
$clr-white: #fffcf3;
$clr-darkGray: #2D2D2D;
$clr-btn-success: #60ff70;

// Roboto
$robot: 'Roboto', sans-serif;
$font-normal: 400;
$font-bold: 500;

// Media queries
$mq-small: 576px;
$mq-med: 768px;
$mq-desk: 992px;
$mq-large: 1200px;
$mq-huge: 1450px;