// Variables
$orangePrimary: #ebb834;
$whiteFont: #fffcf3;

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Reem Kufi', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* MEDIA CATCH ALL */
img, embed, object, video {
  max-width: 100%;
}

#header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 52px;
  left: 0;
  top: 0;
  color: $orangePrimary;
  background: rgba(0, 0, 0, 0.65);
  h2 {
    flex: 1;
    text-align: center;
    align-self: center;
  }
  img {
    flex: 0.2;
    max-width: 15%;
    align-self: center;
    margin: 0 5px 0 0;
  }
}