// Partials
@import '_variables';
@import '_base';
@import '_mixins';

body {
  margin: 0;
}
#header {
  z-index: 2;
  display: flex;
  position: fixed;
  width: 100%;
  height: 52px;
  left: 0;
  top: 0;
  color: $clr-orangePrimary;
  background: rgba(0, 0, 0, 0.65);
  h2 {
    flex: 1;
    text-align: center;
    align-self: center;
  }
  img {
    flex: 0.2;
    max-width: 12%;
    align-self: center;
    margin: 0 5px 0 0;
    @include break ($mq-small) {
      max-width: 8.5%;
    }
    @include break ($mq-med) {
      max-width: 5%;
    }
  }
}

// NAV BAR
#nav-bar {
  position: fixed;
  top: 52px;
  left: 0;
  .nav-link {
    display: block;
    width: 100vw;
    padding: 0.2rem 0.4rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-decoration: none;
    color: #ebb834;
    border: 1px solid rgba(220, 188, 106, 0.8);
    background: rgba(89, 89, 89, 0.90);
    transition: all 1s;
    &:hover {
      padding-left: 1.5rem;
      border-left: 0.75rem solid rgba(220, 188, 106, 0.8);
    }
  }
}

// Menu Links animation
.grow {
  height: 2.5rem;
  animation: menu-grow 1.8s;
}
.shrink {
  min-height: 0.5rem;
  animation: menu-shrink 1.5s;
}

// Display \ hide menu
.menu-close {
  display: none;
}
.menu-show {
  display: block;
}

// MENU - Icon
#menu-icon {
  min-width: 50px;
  margin: 0.25rem;
  cursor: pointer;
  #hamb1 {
    background-color: #ebb834;
    position: absolute;
    top: 6px;
    width: 48px;
    height: 6px;
  }
  #hamb2 {
    background-color: #ebb834;
    position: absolute;
    top: 18px;
    width: 48px;
    height: 6px;
  }
  #hamb3 {
    background-color: #ebb834;
    position: absolute;
    top: 32px;
    width: 48px;
    height: 6px;
  }
}

// Hamburguer menu icon animation
@keyframes hamb1 {
  0% {
    background: #ebb834;
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 13px) rotate(360deg);
  }
  100% {
    background: crimson;
    transform: translate(0, 13px) rotate(585deg);
  }
}
@keyframes hamb2 {
  0% {
    background: #ebb834;
    transform: translate(0);
    opacity: 1;
  }
  50% {
    transform: translate(0);
  }
  100% {
    background: #ebb834;
    transform: translate(0) rotate(270deg);
    opacity: 0;
  }
}

/* Hamburguer reverse animation - Close button */
@keyframes hamb3 {
  0% {
    background: #ebb834;
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -13px) rotate(0);
  }
  100% {
    background: crimson;
    transform: translate(0, -13px) rotate(495deg);
  }
}
@keyframes hamb1rev {
  0% {
    background: #ebb834;
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 13px) rotate(360deg);
  }
  100% {
    background: crimson;
    transform: translate(0, 13px) rotate(585deg);
  }
}
@keyframes hamb2rev {
  0% {
    background: #ebb834;
    transform: translate(0);
    opacity: 1;
  }
  50% {
    transform: translate(0);
  }
  100% {
    background: #ebb834;
    transform: translate(0) rotate(270deg);
    opacity: 0;
  }
}
@keyframes hamb3rev {
  0% {
    background: #ebb834;
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -13px) rotate(0);
  }
  100% {
    background: crimson;
    transform: translate(0, -13px) rotate(495deg);
  }
}

/* Menu Slide-In Animation*/
@keyframes menu-grow {
  0% {
    height: 0.2rem;
    line-height: 0.4rem;
    font-size: 0.2rem;
  }
  100% {
    height: 2.5rem;
    line-height: 2.2rem;
    font-size: 1.6rem;
  }
}
@keyframes menu-shrink {
  0% {
    height: 2.5rem;
    line-height: 2.2rem;
  }
  100% {
    height: 0.2rem;
    padding: 0;
    margin: 0;
    line-height: 0.2rem;
    font-size: 0.2rem;
  }
}

/* BODY */
.transp {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6%;
  width: 100%;
  margin: 0;
  background: linear-gradient(180deg, rgba(26, 19, 19, 0) 0%, rgba(26, 19, 19, 0.6) 100%);
}

.sec1 {
  @extend %section;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.2fr 1.2fr;
  background: linear-gradient(180deg, rgba(234, 188, 71, 0.85) 0%, rgba(235, 184, 52, 0.9) 37.57%, #ebb834 51.38%, rgba(235, 184, 52, 0.9) 65.75%, rgba(234, 188, 71, 0.85) 100%);
  padding: 4rem 0 0 0;
  @include break ($mq-small) {
    grid-template-rows: 0.5fr 1fr 1fr;
  }
  .title {
    font-size: 2.6rem;
    margin: 0 2rem 0.5rem 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(92, 66, 27, 0.71);
    @include break ($mq-small) {
      text-align: center;
      font-size: 3.6rem;
      margin: 1.2rem 2rem 0.5rem 2rem;
    }
  }
  // .hero {

  // }
  .desc1 h3 {
    font-size: 1.6rem;
    margin: 0.8rem;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:nth-of-type(1) {
      text-align: center;
    }
    &:nth-of-type(2) {
      text-align: right;
      margin: 0.5rem 0.6rem 0.6rem 0;
    }
  }
  a {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1.3rem;
    color: #32aa4e;
    text-shadow: 0px 1px 1px rgba(40, 70, 34, 0.25);
    text-decoration: none;
    transition: all 0.6s;
    p {
      margin: 0 0 0.5rem 0;
    }
    i {
      font-size: 3.5rem;
      line-height: 0.25rem;
    }
    &:hover {
      color: rgb(57, 185, 52);
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    }
  }
}

.sec2 {
  @extend %section;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background: linear-gradient(180deg, #F1F1F1 0%, rgba(116, 116, 116, 0.08) 100%);
  @include break ($mq-small) {
    min-height: 85vh;
  }
  h2 {
    align-self: center;
    justify-self: center;
  }
  p {
    max-width: 90%;
    justify-self: center;
    text-align: center;
    font-size: 1.125rem;
    border-top: 3px solid rgba(134, 134, 134, 0.5);
    padding: 1rem 0.5rem;
  }
}

.sec3 {
  @extend %section;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 0.8fr;
  align-items: center;
  justify-items: center;
  background: linear-gradient(180deg, rgba(234, 188, 71, 0.1) 0%, rgba(235, 184, 52, 0.9) 29.83%, #EBB834 50.83%, rgba(235, 184, 52, 0.9) 73.48%, rgba(234, 188, 71, 0.1) 100%);
  @include break ($mq-small) {
    min-height: 85vh;
  }
  h3 {
    color: $clr-white;
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    align-self: start;
  }
}

.sec4 {
  @extend %section;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 0.8fr;
  align-items: center;
  justify-items: center;
  background: linear-gradient(180deg, rgba(234, 188, 71, 0.1) 0%, rgba(189, 189, 189, 0.7) 30.39%, rgba(116, 116, 116, 0.3) 70.17%, rgba(234, 188, 71, 0.1) 100%);
  @include break ($mq-small) {
    min-height: 85vh;
  }
  h3 {
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    align-self: start;
  }
}

.sec5 {
  @extend %section;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 0.8fr;
  align-items: center;
  justify-items: center;
  background: linear-gradient(180deg, rgba(234, 188, 71, 0.1) 0%, rgba(235, 184, 52, 0.9) 29.83%, #EBB834 50.83%, rgba(235, 184, 52, 0.9) 73.48%, rgba(234, 188, 71, 0.1) 100%);
  @include break ($mq-small) {
    min-height: 80vh;
  }
  h3 {
    color: $clr-white;
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    align-self: start;
  }
}

.sec3 ul, .sec4 ul, .sec5 ul {
  margin: 0 5rem 2rem 0;
  align-self: start;
  list-style-type: none;
}

.sec3 ul li, .sec4 ul li, .sec5 ul li {
  margin: 0.5rem;
  line-height: 1.6rem;
}

.material-icons {
  margin: 0 0.5rem 0 0;
}

.sec6 {
  min-height: 90vh;
  margin: 0;
  background: linear-gradient(180deg, rgba(234, 188, 71, 0.1) 0%, rgba(134, 134, 134, 0.5) 85.64%, rgba(234, 188, 71, 0.1) 100%);
  @include break ($mq-small) {
    min-height: 80vh;
  }
  h3 {
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
    padding: 2.5rem 2rem;
  }
  p {
    font-size: 1.2rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
  }
  a {
    color: $clr-orangePrimary;
    text-shadow: 1px 1px 2px rgba(29,21,2,0.9);
    text-decoration: none;
    &:hover {
      color: #32aa4e;
      text-shadow: 1px 1px 2px rgba(34, 105, 28, 0.8);
    }
  }
}

#video {
  width: 100%;
  min-height: 40vh;
  margin: 0;
  padding: 0;
}

.sec7 {
  min-height: 90vh;
  background: linear-gradient(180deg, rgba(234, 188, 71, 0.1) 0%, rgba(235, 184, 52, 0.9) 29.83%, #EBB834 50.83%, rgba(235, 184, 52, 0.9) 73.48%, rgba(234, 188, 71, 0.1) 100%);
  @include break ($mq-small) {
    min-height: 80vh;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
  }
}

.sec8 {
  min-height: 90vh;
  @include break ($mq-small) {
    min-height: 80vh;
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  p {
    text-align: center;
    font-size: 1.125rem;
  }
}

.small-card {
  background: #ebb834;
  margin: 1.2rem 30%;
  padding: 0.5rem 0;
  max-width: 40%;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
  }
  a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    max-width: 70%;
    height: 2.8rem;
    margin: 0.5rem 15%;
    padding: 0.6rem 0.1rem 0.3rem 0.1rem;
    text-decoration: none;
    color: #fff;
    background: #60ff70;
    border-radius: 1rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    &:hover {
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
      padding-top: 0.75rem;
    }
  }
}

.contactForm label {
  display: inline-block;
  text-align: center;
  font-size: 1.125rem;
  width: 90%;
  margin: 0.4rem 0.8rem;
}

.contactForm input[type="text"] {
  @extend %contactForm;
  &:valid {
    border-color: #1de95a;
  }
}
.contactForm input[type="email"] {
  @extend %contactForm;
  &:invalid {
    border-color: #d71e1e;
  }
  &:valid {
    border-color: #1de95a;
  }
}

.contactForm {
  button {
    display: inline-block;
    width: 3rem;
    background: none;
    border: none;
    padding: 0;
    margin: 1rem 42%;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    &:hover, &:focus {
      color: #1de95a;
    }
    i {
      font-size: 3rem;
      margin: 0 0.5rem 0 0.7rem;
    }
  }
}

#footer {
  background: #ebb834;
  font-size: 1.125rem;
  color: #fff;
  padding: 0.2rem 0.5rem 1rem 0.5rem;
  .footer-head {
    display: flex;
    justify-content: space-evenly;
    margin: 0.3rem;
    h3 {
      flex: 1;
    }
  }
  .footer-first, .footer-second {
    flex: 1;
  }
  .footer-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0.3rem;
  }
  a {
    font-size: 1rem;
    text-decoration: none;
    margin: 0.2rem;
    display: block;
    color: #fff;
    &:hover {
      color: #60ff70;
    }
  }
}

/* SLIDESHOW */
.slideshow-container {
  z-index: 1;
  max-width: 1000px;
  position: relative;
  top: 1rem;
  margin: auto;
}

.mySlides {
  display: none;
}

.slide-caption {
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 3px 3px 6px #000000;
  padding: 0.8rem;
  margin: 1rem auto;
  position: absolute;
  bottom: 3rem;
  left: 5%;
  width: 80%;
  text-align: center;
}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  &:hover {
    color: rgba(235, 184, 52, 0.9);
    background-color: rgba(0,0,0,0.8);
  }
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot-btn {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.7s ease;
  &:hover {
    background-color: #717171;
  }
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}